.onlineWidget, .onlineWidget > .panel{
	
	/* Styling the widget and the sliding panel at once */
	
	background-color:#F9F9F9;
	border:2px solid #FFFFFF;
	height:25px;
	padding:4px 8px;
	position:relative;
	width:130px;
	
	cursor:pointer;
	
	/* CSS3 rules for rounded corners, box and text shadows: */
	
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	
	-moz-box-shadow:0 0 3px #CCCCCC;
	-webkit-box-shadow:0 0 3px #CCCCCC;
	box-shadow:0 0 3px #CCCCCC;
	
	text-shadow:0 2px 0 white;
}

.onlineWidget:hover{
	background-color:#fcfcfc;
}

.onlineWidget:hover .arrow{
	/* Changing the background image for the green arrow on hover: */
	background-position:bottom center;
}

.onlineWidget > .count{
	/* The total number of people online div */
	
	color:#777777;
	float:left;
	font-size:26px;
	font-weight:bold;
	margin-top:-3px;
	text-align:center;
	width:30px;
}

.onlineWidget > .label{
	/* The online label */
	
	float:left;
	font-size:10px;
	padding:7px 0 0 7px;
	text-transform:uppercase;
}

.onlineWidget > .arrow{
	/* The green arrow on the right */
	
	background:url(../images/arrow.png) no-repeat top center;
	position:absolute;
	right:6px;
	
	width:25px;
	height:25px;
}

.onlineWidget > .panel{
	/* The slideout panel */
	
	position:absolute;
	cursor:default;
	bottom:38px;
	left:0;
	height:auto;
	display:none;
	margin:-2px;
	z-index:1000;
	max-height:535px;
	overflow-y:auto;
}

.onlineWidget > .preloader{
	/* The rotating gif preloader image */
	display:block;
	margin:10px auto;
}


/* The styles below are only necessary for the styling of the demo page: */

.onlineWidget{
	position: fixed;
	right: 0; bottom: 0;
	border-radius: 0;
}

.clear{
	clear:both;
}

.userstat{
	position: absolute;
	padding: 2px;
	margin-left: 5px;
	margin-top: 0px;
}

.panel p{
	padding: 5px;
	border-bottom: 1px solid #DDD;
}
